<div class="page-banner">
  <div class="container">
    <div class="mask"></div>
    <div class="title">
      <h2>Programs Offered at Empire Park</h2>
    </div>
  </div>
</div>

<div class="causes-page-wrapper">
  <div class="top-bar"></div>

  {{!-- <div class="container">
    <div class="info">
      <h3>Showing Causes From:
        <span class="dropdown-label">All Causes</span>
      </h3>
    </div>
  </div> --}}

  <div class="container causes-list" style="position: relative; height: 1047.2px;">
    <div class="row cause content-box no-bg health education animals homeless" style="position: absolute; left: 15px; top: 0px;">
      <div class="col-md-5 col-sm-6">
        <div class="img-wrapper">
          <div class="overlay"></div>
          <img class="img-responsive" src="assets/img/causes/img-10.jpg" alt="">
        </div>
      </div>
      <div class="col-md-7 col-sm-6 info-block list">
        <div class="meta clearfix">
          <h3>Delivering Food to Poor Peoples</h3>
          <div class="short-stats clearfix">
            <h5>
              <i class="fa fa-heart-o"></i>263 donors</h5>
            <h5>
              <i class="fa fa-clock-o"></i>18 days</h5>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab doloribus modi reiciendis magnam soluta architecto officiis nisi cum ipsam, est optio dolorum nostrum porro. Nesciunt iusto consectetur explicabo minus odit magni sunt magnam enim est!</p>
        <div class="foundings">
          <div class="progress-bar-wrapper min">
            <div class="progress-bar-outer">
              <p class="values">
                <span class="value one">Raised: $12500</span>/
                <span class="value two"> To go: $45222</span>
              </p>
              <div class="progress-bar-inner">
                <div class="empty-bar"></div>
                <div class="full-bar p-40">
                  <div class="procent">
                    <span>50%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="btn btn-min btn-solid">
          <span>Donate Now</span>
        </a>
      </div>
    </div>


  </div>
</div>
