<div class="page-banner">
  <div class="container">
    <div class="mask"></div>
    <div class="title">
      <h2>Volunteer & Paid Opportunities</h2>
    </div>
  </div>
</div>

<div class="segment job-postings">
  <div class="job-featured">

  </div>

  <div class="container job-list">
    {{#if administrativePostings}}
    <div class="row">
      <div class="xs-col-12 card job-category">
        <h2>Administrative Positions</h2>
      </div>
    </div>
    {{#each administrativePostings as |posting|}} {{partial 'volunteers/posting'}} {{/each}} {{/if}}
  </div>

  <div class="container job-list">
    {{#if technologyPostings}}
    <div class="row">
      <div class="xs-col-12 card job-category">
        <h2>Technology Positions</h2>
      </div>
    </div>
    {{#each technologyPostings as |posting|}} {{partial 'volunteers/posting'}} {{/each}} {{/if}}
  </div>
</div>
