<h3>
  <span>{{days}}</span>
  <span>days</span>
</h3>
<h3>
  <span>{{hours}}</span>
  <span>hours</span>
</h3>
<h3>
  <span>{{minutes}}</span>
  <span>minutes</span>
</h3>
<h3>
  <span>{{seconds}}</span>
  <span>seconds</span>
</h3>
